.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: @header-background-color;
  transition: opacity 0.3s ease, visibility 0.3s ease;

  @media (min-width: @tablet-width) {
    background-color: fadeout(@header-background-color, 10%);
  }
}

.modal--open {
  visibility: visible;
  opacity: 1;

  &::before {
    position: absolute;
    width: 16px;
    height: 1px;
    top: 23px;
    right: 40px;
    transform: rotate(45deg);
    background-color: @main-background-color;
    content: "";
    cursor: pointer;

    @media (min-width: @tablet-width) {
      width: 20px;
      height: 2px;
      top: 30px;
      right: 30px;
    }
  }

  &::after {
    position: absolute;
    width: 16px;
    height: 1px;
    top: 23px;
    right: 40px;
    transform: rotate(-45deg);
    background-color: @main-background-color;
    content: "";
    cursor: pointer;

    @media (min-width: @tablet-width) {
      width: 20px;
      height: 2px;
      top: 30px;
      right: 30px;
    }
  }
}

.modal__card {
  display: flex;
  width: 100vw;
  align-items: center;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
  box-sizing: border-box;
  background-color: @main-background-color;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;

  @media (min-width: @tablet-width) {
    flex-grow: 0;
    width: 566px;
    padding: 37px 46px 66px;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__card--open {
  opacity: 1;
  visibility: visible;

  @media (min-width: @tablet-width) {
    top: 50%;
  }
}

.modal__header {
  font-size: 26px;
  line-height: 32px;
  font-weight: 300;
  width: 280px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    font-size: 32px;
    line-height: 40px;
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 92vw;

  @media (min-width: @mobile-wide-width) {
    width: 75vw;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }
}

.modal__form-group {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  border: none;
}

.modal__legend {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.modal__input {
  height: 50px;
  width: 100%;
  padding: 5px 10px;
  margin-top: 20px;
  color: @header-background-color;
  box-sizing: border-box;
  border: 1px solid @underlines-color;
  border-radius: 6px;
}

.modal__submit {
  display: block;
  box-sizing: border-box;
  min-height: 50px;
  width: 100%;
  margin: 0 auto;
  background-color: @header-background-color;
  color: @header-font-color;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 3px;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s ease;

  &:hover {
    background-color: lighten(@form-button-color, 10%);
  }

  &:active,
  &:focus {
    transform: scale(1.07);
  }
}
